---
import { MarkdownInstance } from 'astro/dist/@types/astro';
import Section from './Section.astro';
import Card from './Card.astro';

interface Props {
	posts: MarkdownInstance<any>[];
}

const { posts } = Astro.props;
---

<Section>
	<div class="flex justify-between pb-6">
		
		
	</div>
	<div class="flex flex-col pb-6 md:flex-row">
		{
			posts.map((post: any) => (
				<div class="mb-6 basis-1 last:mr-0 md:mr-6 md:basis-1/2">
					<Card post={post} />
				</div>
			))
		}
	</div>
</Section>
